*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 82px;
}

body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: #333;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

.underline {
  margin: 0 auto;
  height: 3px;
  width: 60px;
  background-color: red;
}

.shadow-bg {
  background-color: rgba(0, 0, 0, 0.8);
}

.scale-hover {
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.scale-hover:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

nav {
  text-transform: uppercase;
  -webkit-transition: background-color .8s;
  transition: background-color .8s;
  z-index: 1;
}

nav .logo-lfc {
  margin-bottom: 7px;
  margin-right: 10px;
  width: 30px;
}

nav a {
  color: white;
}

nav a:hover {
  color: red;
}

nav .navbar-brand {
  font-weight: bold;
}

nav .active {
  color: red;
}

nav .fa-bars {
  padding: 10px;
  color: white;
}

header {
  color: white;
}

header .hero-img {
  position: relative;
  height: 100vh;
  background-image: url("../img/hero-img-640x426.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}

header .hero-shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

header .hero-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  z-index: 1;
}

header .fa-chevron-down {
  font-size: 30px;
  color: white;
  -webkit-transition: color .3s;
  transition: color .3s;
}

header .fa-chevron-down:hover {
  color: red;
}

.matches img {
  margin-top: 20px;
}

.matches p {
  margin: 0;
  text-transform: uppercase;
}

.matches i {
  font-size: 20px;
}

.matches .win {
  color: lime;
}

.matches .draw {
  color: orange;
}

.matches .lose {
  color: red;
}

.stats .stats-img {
  position: relative;
  background-image: url("../img/stats-bg640x426.jpg");
  background-position: center;
  background-size: cover;
  z-index: 0;
}

.stats .stats-shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.stats p {
  margin: 20px 0;
  text-transform: uppercase;
}

.stats i {
  margin-top: 40px;
  font-size: 50px;
}

.highlights .carousel-item {
  position: relative;
}

.highlights .film {
  height: 500px;
}

.highlights .card-group {
  color: black;
}

.shop h3 {
  text-transform: uppercase;
}

.shop span {
  font-weight: bold;
}

.shop .shop-img {
  position: relative;
  background-image: url("../img/bg-shop640x426.jpg");
  background-position: center;
  background-size: cover;
  z-index: 0;
}

.shop .shop-shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

.shop .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  color: black;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.shop .item:hover {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

.team p {
  margin: 0;
}

.team .card-group {
  color: black;
}

.team .card {
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.team .card:hover {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.team .card-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.team .card-img-top {
  -o-object-position: 0 0;
     object-position: 0 0;
}

@media (min-width: 375px) {
  header p {
    font-size: 12px;
  }
  .shop .item-details {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .team .card-img-top {
    height: 200px;
  }
  .team .card-text {
    height: 150px;
  }
}

@media (min-width: 768px) {
  header p {
    font-size: 15px;
  }
  .shop img {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  .team img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (min-width: 992px) {
  nav {
    height: 82px;
  }
  .shop img,
  .shop .item-details {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .team .card-text {
    height: 200px;
  }
}

@media (min-width: 1200px) {
  header .hero-img {
    background-image: url("../img/hero-img-1920x1280.jpg");
  }
  header p {
    font-size: 1rem;
  }
  .stats .stats-img {
    background-image: url("../img/stats-bg1920x1280.jpg");
    background-position-y: 30%;
  }
  .shop .shop-img {
    background-image: url("../img/bg-shop1920x1280.jpg");
  }
}
/*# sourceMappingURL=style.css.map */