@import 'colors';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    // 82px tyle ma Navbar
    scroll-padding-top: 82px; //Po przejściu na jakąś sekcje nav nie zakrywa treści
}

body {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    color: $white-color;
    background-color: #333;
}

h2 {
    text-align: center;
    text-transform: uppercase;
}

.underline {
    margin: 0 auto;
    height: 3px;
    width: 60px;
    background-color: $red-color;
}

.shadow-bg {
    background-color: rgba(0, 0, 0, .8);
}

.scale-hover {
    transition: transform .3s;
}

.scale-hover:hover {
    transform: scale(1.2);
}

nav {
    text-transform: uppercase;
    transition: background-color .8s;
    z-index: 1;

    .logo-lfc {
        margin-bottom: 7px;
        margin-right: 10px;
        width: 30px;
    }

    a {
        color: $white-color;
    }

    a:hover {
        color: $red-color;
    }

    .navbar-brand {
        font-weight: bold; //Pogrubienie napisu głównego
    }

    .active {
        color: $red-color; //Jeśli dana sekcja jest aktywna
    }

    .fa-bars {
        padding: 10px; //Powiększa burgera
        color: $white-color;
    }
}

header {
    color: $white-color;

    .hero-img {
        position: relative;
        height: 100vh;
        background-image: url('../img/hero-img-640x426.jpg');
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        z-index: 0;
    }

    .hero-shadow {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, .6);
        z-index: -1;
    }

    .hero-text {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        text-align: center;
        z-index: 1;
    }

    .fa-chevron-down {
        font-size: 30px;
        color: $white-color;
        transition: color .3s;
    }

    .fa-chevron-down:hover {
        color: $red-color;
    }
}

.matches {

    img {
        margin-top: 20px;
    }

    p {
        margin: 0;
        text-transform: uppercase;
    }

    i {
        font-size: 20px;
    }

    .win {
        color: $green-color;
    }

    .draw {
        color: $orange-color;
    }

    .lose {
        color: $red-color;
    }
}

.stats {
    .stats-img {
        position: relative;
        background-image: url('../img/stats-bg640x426.jpg');
        background-position: center;
        background-size: cover;
        z-index: 0;
    }

    .stats-shadow {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, .7);
        z-index: -1;
    }

    p {
        margin: 20px 0;
        text-transform: uppercase;
    }

    i {
        margin-top: 40px;
        font-size: 50px;
    }
}

.highlights {
    .carousel-item {
        position: relative;
    }

    .film {
        height: 500px;
    }

    .card-group {
        color: $black-color;
    }
}

.shop {
    h3 {
        text-transform: uppercase;
    }

    span {
        font-weight: bold;
    }

    .shop-img {
        position: relative;
        background-image: url('../img/bg-shop640x426.jpg');
        background-position: center;
        background-size: cover;
        z-index: 0;
    }

    .shop-shadow {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, .8);
        z-index: -1;
    }

    .item {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: $white-color;
        color: $black-color;
        transition: transform .3s;
    }

    .item:hover {
        transform: scale(.96);
    }
}

.team {
    p {
        margin: 0;
    }

    .card-group {
        color: $black-color;
    }

    .card {
        transition: transform .3s;
    }

    .card:hover {
        transform: scale(.98);
    }

    .card-title {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
    }

    .card-img-top {
        object-position: 0 0;
    }
}

@media (min-width: 375px) {
    header {
        p {
            font-size: 12px;
        }
    }

    .shop {
        .item-details {
            transform: scale(0.8);
        }
    }

    .team {
        .card-img-top {
            height: 200px;
        }

        .card-text {
            height: 150px;
        }
    }
}

@media (min-width: 768px) {
    header {
        p {
            font-size: 15px;
        }
    }

    .shop {
        img {
            transform: scale(0.7);
        }
    }

    .team {
        img {
            object-fit: cover; //Teraz zdjęcia dziwnie nie rozciągają się
        }
    }
}

@media (min-width: 992px) {
    nav {
        height: 82px; //Po przejściu na jakąś sekcje nav nie zakrywa treści
    }

    .shop {

        img,
        .item-details {
            transform: scale(1);
        }
    }

    .team {
        .card-text {
            height: 200px;
        }
    }
}

@media (min-width: 1200px) {
    header {
        .hero-img {
            background-image: url('../img/hero-img-1920x1280.jpg');
        }

        p {
            font-size: 1rem;
        }
    }

    .stats {
        .stats-img {
            background-image: url('../img/stats-bg1920x1280.jpg');
            background-position-y: 30%;
        }
    }

    .shop {
        .shop-img {
            background-image: url('../img/bg-shop1920x1280.jpg');
        }
    }
}